# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

gcp-data-sharer/bin/
gcp-data-sharer/build/

title-fetcher/bin/
title-fetcher/build/

tweeter/bin/
tweeter/build/

# IDEs
.vscode/
.idea/
